/*
Theme Name:     Ulrichsaxofoon
Theme URI:      
Description:    Storefront child theme.
Author:         Me
Author URI:     
Template:       storefront
Version:        0.1.0
*/
.storefront-sorting {
    display: none;
}
.site-footer a {
    text-decoration: none;
}